{% extends 'main/item_base.html' %}

{% block title %}
Котофейс
{% endblock %}

{% block item_name %}
Правый носок с кошаком
{% endblock %}

{% block item_fullphoto %}
cat_face.jpg
{% endblock %}

{% block item_photo %}
cat_face.jpg
{% endblock %}

{% block item_shortdescr %}
Правый носок на котором вышита кошачья морда? Ага, это он.
{% endblock %}

{% block item_fulldescr %}
Ох блин! Это же тот самый Правый носок с кошаком! Ничего себе!
        <br>Охренеть!
        <br>Ваша правая нога и наш Правый носок с кошаком - идеальное сочетание!
        <br>Ваш кошак точно оценит ваш стиль!
{% endblock %}

{% block item_chars %}
<ul>
        <li>Цвет: Белый</li>
        <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из кошачих бровей.</li>
        <li>Размеры: XS, S, Meow, L, XL, XXL</li>
    </ul>
{% endblock %}
