{% extends 'main/item_base.html' %}

{% block title %}
Классический
{% endblock %}

{% block item_name %}
Правый носок классический
{% endblock %}

{% block item_fullphoto %}
right_sock.jpg
{% endblock %}

{% block item_photo %}
right_sock.jpg
{% endblock %}

{% block item_shortdescr %}
Длинный, прямой, классический.
{% endblock %}

{% block item_fulldescr %}
Наш Правый носок классический понравится как приверженцам классического стиля, так и всем остальным! Почему нет? Ведь он чёрный!
<br>Вы можете не ограничивать себя: носите его на ноге или на руке, на своей или на чужой!
<br>У вас есть другие части тела, которые вам не терпится засунуть в Правый носок классический? Так сделайте это!
<br>Возможности Правого носка классического, поистине ограничиваются только вашей фантазией!
{% endblock %}

{% block item_chars %}
<ul>
    <li>Цвет: Черный</li>
    <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из целлюлозы.</li>
    <li>Размеры: XS, S, M, L, XL, XЗ</li>
</ul>
{% endblock %}
