{% extends 'main/item_base.html' %}

{% block title %}
Похоронный
{% endblock %}

{% block item_name %}
Похоронный
{% endblock %}

{% block item_fullphoto %}
funeral.jpg
{% endblock %}

{% block item_photo %}
funeral.jpg
{% endblock %}

{% block item_shortdescr %}
Правый носок похоронный.
{% endblock %}

{% block item_fulldescr %}
Правый носок похоронный может выручить вас, если в вашу жизнь пришла трагедия и вы очутились на похоронах.
<br>Вы также можете попросить родственников похоронить себя в таком носке!
<br>Вы приглашены на вечеринку в честь Хеллоуина? Отлично, Правый носок похоронный выручит вас и в этом случае!
<br>Просто наденьте его! Вы можете вообще ничего больше не надевать - внимание остальных гостей вечеринки гарантированно!
{% endblock %}

{% block item_chars %}
<ul>
    <li>Цвет: Черный и белый</li>
    <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из печали и скорби.</li>
    <li>Размеры: XS, S, M, L, XL, XXL, RIP...</li>
</ul>
{% endblock %}
