{% extends 'main/item_base.html' %}

{% block title %}
Девичий
{% endblock %}

{% block item_name %}
Девичий
{% endblock %}

{% block item_fullphoto %}
fem.jpg
{% endblock %}

{% block item_photo %}
fem.jpg
{% endblock %}

{% block item_shortdescr %}
Носочек для прекрасной половины(правой).
{% endblock %}

{% block item_fulldescr %}
Воздушная ткань и не менее лёгкий дизайн не разочаруют самую взыскательную модницу!
<br>Кто-то назвал вас "слабым полом"? Не повезло бедняге...
<br>Вы можете зарядить с вертушки прямо в туловище негодяю! Особенно эффектным будет ваш удар в нашем Девичьем носке!
<br>Просто наденьте его! И весь мир будет у ваших ног! (у правой ноги, если быть точным)
<br>Мужики, тоже берите, никто вас не осудит.
{% endblock %}

{% block item_chars %}
<ul>
    <li>Цвет: Розовые тона</li>
    <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из нежности и очарования.</li>
    <li>Размеры: XS, S, M, L, XL, XXL, XXX</li>
</ul>
{% endblock %}