{% extends 'main/base.html' %}

{% block title %}
Кошачий фэйс
{% endblock %}

{% block content %}
    <h1>Правый носок с кошаком</h1>
    <br>
    <a href="../static/img/cat_face.jpg" target="_blank"><img src="../static/img/cat_face_sm.jpg" alt="cat_face"></a>
    <h3 class="short">Описание кратко</h3>
    <p>Правый носок на котором вышита кошачья морда? Ага, это он.</p>
    <h3 class="full">Описание подробно</h3>
    <p>Ох блин! Это же тот самый Правый носок с кошаком! Ничего себе!
        <br>Охренеть!
        <br>Ваша правая нога и наш Правый носок с кошаком - идеальное сочетание!
        <br>Ваш кошак точно оценит ваш стиль!</p>
    <h3 class="char">Характеристики</h3>
    <ul>
        <li>Цвет: Белый</li>
        <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из кошачих бровей.</li>
        <li>Размеры: XS, S, Meow, L, XL, XXL</li>
    </ul>
    <table class="table">
        <tr>
            <th rowspan="5">Всё
                <br>для
                <br>вас!</th>
            <th colspan="2">Любите таблицы?</th>
        </tr>
        <tr>
            <td>Цвет</td>
            <td>Белый</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td>Хлопок</td>
        </tr>
        <tr>
            <td>Размеры</td>
            <td>XS, S, Meow, L, XL, XXL</td>
        </tr>
        <tr>
            <td>Рисунок</td>
            <td>Кошачья морда анфас</td>
        </tr>
    </table>
    <h3>Инструкция</h3>
    <ol>
        <li>Убедитесь что у вас есть правая нога.</li>
        <li>Возьмите носок и немного растяните его руками, чтобы носок легче было надеть.</li>
        <li>Засуньте в носок большие пальцы рук и натяните на них носок "гармошкой".</li>
        <li>Вставьте ступню в носок и движением "на себя" расправьте ткань.</li>
    </ol> <a href="{% url 'item-classic' %}">Псст! Эй, приятель! Хочешь ещё немного правых носков?..</a>
{% endblock %}
