{% extends 'main/base.html' %}

{% block title %}
Каталог
{% endblock %}

{% block content %}
<div class="body">
            <h1>Каталог</h1>
            <div class="catalog">
                <div class="item">
                    <a href="{% url 'item-classic' %}"><img src="../../static/img/right_sock_sm.jpg" alt="classic">
                        <br>Классический правый носок </a>
                </div>
                <div class="item">
                    <a href="{% url 'item-funeral' %}"><img src="../../static/img/funeral_sm.jpg" alt="funeral">
                        <br>Похоронный носок</a>
                </div>
                <div class="item">
                    <a href="{% url 'item-cat' %}"><img src="../../static/img/cat_face_sm.jpg" alt="cat_face">
                        <br>С кошачьей мордой</a>
                </div>
            </div>
        </div>
{% endblock %}
