{% extends 'main/base.html' %}

{% block title %}
Классический
{% endblock %}

{% block content %}
<h1>Правый носок классический</h1>
<br>
<a href="../static/img/right_sock.jpg" target="_blank"> <img src="../static/img/right_sock_sm.jpg" alt="classic"> </a>
<h3 class="short">Описание кратко</h3>
<p>Длинный, прямой, классический.</p>
<h3 class="full">Описание подробно</h3>
<p>Наш Правый носок классический понравится как приверженцам классического стиля, так и всем остальным! Почему нет? Ведь он чёрный!
    <br>Вы можете не ограничивать себя: носите его на ноге или на руке, на своей или на чужой!
    <br>У вас есть другие части тела, которые вам не терпится засунуть в Правый носок классический? Так сделайте это!
    <br>Возможности Правого носка классического, поистине ограничиваются только вашей фантазией!</p>
<h3 class="char">Характеристики</h3>
<ul>
    <li>Цвет: Черный</li>
    <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из целлюлозы.</li>
    <li>Размеры: XS, S, M, L, XL, XЗ</li>
</ul>
<table class="table">
    <tr>
        <th rowspan="5">Всё
            <br>для
            <br>вас!</th>
        <th colspan="2">Любите таблицы?</th>
    </tr>
    <tr>
        <td>Цвет</td>
        <td>Черный</td>
    </tr>
    <tr>
        <td>Материал</td>
        <td>Хлопок</td>
    </tr>
    <tr>
        <td>Размеры</td>
        <td>XS, S, M, L, XL, XЗ</td>
    </tr>
    <tr>
        <td>Рисунок</td>
        <td>Нет</td>
    </tr>
</table>
<h3>Инструкция</h3>
<ol>
    <li>Убедитесь что у вас есть правая нога.</li>
    <li>Возьмите носок и немного растяните его руками, чтобы носок легче было надеть.</li>
    <li>Засуньте в носок большие пальцы рук и натяните на них носок "гармошкой".</li>
    <li>Вставьте ступню в носок и движением "на себя" расправьте ткань.</li>
</ol> <a href="{% url 'item-funeral' %}">Псст! Эй, приятель! Хочешь ещё немного правых носков?..</a>
{% endblock %}
