{% extends 'main/base.html' %}

{% block title %}
Похоронный
{% endblock %}

{% block content %}
<h1>Правый носок похоронный</h1>
    <br>
    <a href="../static/img/funeral.jpg" target="_blank"><img src="../static/img/funeral_sm.jpg" alt="funeral"></a>
    <h3 class="short">Описание кратко</h3>
    <p>Правый носок похоронный.</p>
    <h3 class="full">Описание подробно</h3>
    <p>Правый носок похоронный может выручить вас, если в вашу жизнь пришла трагедия и вы очутились на похоронах.
        <br>Вы также можете попросить родственников похоронить себя в таком носке!
        <br>Вы приглашены на вечеринку в честь Хеллоуина? Отлично, Правый носок похоронный выручит вас и в этом случае!
        <br>Просто наденьте его! Вы можете вообще ничего больше не надевать - внимание остальных гостей вечеринки гарантированно!</p>
    <h3 class="char">Характеристики</h3>
    <ul>
        <li>Цвет: Черный и белый</li>
        <li>Материал: Хлопок. Натуральное волокно на 90% состоящее из печали и скорби.</li>
        <li>Размеры: XS, S, M, L, XL, XXL, RIP...</li>
    </ul>
    <table class="table">
        <tr>
            <th rowspan="5">Всё
                <br>для
                <br>вас!</th>
            <th colspan="2">Любите таблицы?</th>
        </tr>
        <tr>
            <td>Цвет</td>
            <td>Черный и белый</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td>Хлопок</td>
        </tr>
        <tr>
            <td>Размеры</td>
            <td>XS, S, M, L, XL, XXL, RIP...</td>
        </tr>
        <tr>
            <td>Рисунок</td>
            <td>Надпись "Правый похоронный", кресты</td>
        </tr>
    </table>
    <h3>Инструкция</h3>
    <ol>
        <li>Убедитесь что у вас есть правая нога.</li>
        <li>Возьмите носок и немного растяните его руками, чтобы носок легче было надеть.</li>
        <li>Засуньте в носок большие пальцы рук и натяните на них носок "гармошкой".</li>
        <li>Вставьте ступню в носок и движением "на себя" расправьте ткань.</li>
    </ol> <a href="{% url 'item-cat' %}">Псст! Эй, приятель! Хочешь ещё немного правых носков?..</a>
{% endblock %}
