{% extends 'main/base.html' %}

{% block title %}
{{ item.title }}
{% endblock %}

{% block content %}
<div class="body">
        <h1>
            {{ item.title }}
        </h1>
        <br>
        <a href="{{ item.image.url }}" target="_blank"> <img src="{{ item.image.url }}" alt="pic"> </a>
        <h3 class="short">В двух словах</h3>
        <p>
            {{ item.short_descr }}
        </p>
        <div class="price">
            <p>Цена:
            {{ item.price }}
            </p>
        <input type="button" value="Купить"></div>
        <h3 class="full">Описание</h3>
        <p>
           {{ item.full_descr|safe  }}
        </p>
        <h3 class="char">Характеристики</h3>
        {{ item.specific|safe  }}
 <div class="instruct">
            <h3>Инструкция</h3>
            <ol>
                <li>Убедитесь что у вас есть правая нога.</li>
                <li>Возьмите носок и немного растяните его руками, чтобы носок легче было надеть.</li>
                <li>Засуньте в носок большие пальцы рук и натяните на них носок "гармошкой".</li>
                <li>Вставьте ступню в носок и движением "на себя" расправьте ткань.</li>
            </ol>
        </div>
        <div class="itemlink"> <a href="{% url 'catalog' %}">Псст! Эй, приятель! Хочешь ещё немного правых носков? . .</a> </div>
    </div>
{% endblock %}
