
/* Общие настройк */


body {
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: azure;
    background-color:coral;
    opacity: 0.9;
    
}

h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

body a {
    color: coral;
    font-family:cursive;
    font-size: 12px;
}

hr {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
	padding: 0;
	height: 0;
	border: none;
	border-width: 0 0 5px;
	border-style: solid;
	border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="coral" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
	background-position: 50%;
	box-sizing: border-box;
	color: orange;
}

.body {
  min-height: calc(100vh - 100px);
    clear: both;
}

/* Шапка */

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height:120px;
    background-color:beige;
}

.logo img {
    width: 90px;
    height: 90px;
}

.logo {
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}

.menu div {
    float: right;
    line-height: 120px;
    margin-right: 20px;
    font-size: 24px;
}

.menu div a {
    font-size: 24px;
    text-decoration: none;
}

.menu div a:hover {
    color: brown;
}


/* Главная */

.main p {
    text-align: left;
    font-family:sans-serif;
    color:brown
}

.main {
    text-align: center
}

.main img {
    width: 100%;
}

/* Товар каталога */

.short +p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full +p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
}

.char +ul {
    color: darkslategrey;
    font-size: 15px;
    font-family: sans-serif;
    list-style-image: url(img/apply.png)
}

.product .body>p:first-letter {
    font-size: 150%;
    font-family:sans-serif;
    color: cadetblue;
}

.itemlink a {
    font-size: 14px;
    text-decoration:none;
}

.itemlink {
    margin-bottom: 10px;
}

.body a img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 19px;
    overflow: hidden;
    width: 300px;
    height: 300px;

}

.full {
    clear: both;
}

input[type="button"] {
    height: 60px;
    width: 120px;
    font-size:24px;
    color: green;
    background-color: azure;
    border-radius: 9px;
    outline: none;
    margin-top: 10px;
}

input[type="button"]:hover {
    color: blue;
}

input[type="button"]:active {
    background-color: coral;
    border-radius: 9px;
}

.price {
    font-size: 24px;
    font-family: monospace;
    color: green;
}

.instruct h3{
    text-align: center;
}

.table {
    border: 1px solid #931;
    width: 400px;
    height: 200px;
    border-collapse: collapse;
}

.table td {
    border: 1px solid #931;
    padding-left: 10px;
}

.table tr:first-child {
    height: 20px;
}

/* Контакты */

input[type=text] {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border-color:beige;
    background-color: azure
}

textarea {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border-color:beige;
    background-color: azure;
    margin-bottom: 10px;
}
input[type=submit],
input[type=reset] {
    background-color:bisque;
    width: 151px;
    height: 30px;
    border-radius: 5px;
}

input::-webkit-input-placeholder {
    color:coral;
    font-size: 14px;
    font-style: italic;
}

input:-moz-placeholder {
    color: coral;
    font-size: 14px;
    font-style: italic;
}

textarea::-webkit-input-placeholder {
    color: coral;
    font-size: 14px;
    font-style: italic;
}
textarea:-moz-placeholder {
    color: burlywood;
    font-size: 14px;
    font-style: italic;
}

input[placeholder="Ваш email адрес"]:focus {
    background-color:cornsilk;
    color: darkgoldenrod;
}

input[type="text"]:focus {
    text-transform: capitalize;
}

input[type=reset]:hover {
    color: azure;
    background-color:chocolate;
}

input[type=submit]:hover {
    color: azure;
    background-color:chocolate;
}

input[type=submit]:active {
    color: azure;
    background-color:darkgoldenrod;
}

input[type=reset]:active {
    color: azure;
    background-color:darkgoldenrod;
}

iframe {
    width: 100%;
    height: 374px;
    margin-top: 20px;
}

/* Каталог */

a img {
    outline: 1px solid brown;
}

a img:hover {
    outline: none;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.item a {
    font-size: 18px;
}

.catalog {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Подвал */

.footer {
    height: 100px;
    background-color:azure;

}

.footer p {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-style:oblique;
    font-size: 24px;
}
